body {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 300;
}
.fixedBanner {
  background-color: #fff;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  padding: 32px 32px 0px 32px;
  margin-bottom: 0;
}
h1 {
  font-size: 32px;
  font-weight: 400;
  padding: 0;
}
small {
  font-size: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  font-size: 16px;
  top: 72px;
  right: 20px;
}
li {
  display: inline;
}
li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0 10px;
}
.pageContent {
  padding: 146px 20px 10px 20px;
}
.key-card {
  max-width: 200px;
  max-height: 260px;
  border-radius: 6px;
  float: left;
  margin: 0 20px 20px 0;
  transition: all 200ms ease-in-out;
}
.key-card:hover {
  transform: scale(1.1);
}
.banner-space {
  padding: 0 20px 0 0;
}
h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  margin: 0;
}
h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}
.profile-info {
  font-size: 10px;
  margin: 0;
  text-align: justify;
}
h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0, 0.4);
  padding-top: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  padding: 10px 20px 30px 10px;
}
.grid img {
  width: 40px;
  object-fit: contain;
  aspect-ratio: 14/10;
  transition: all 200ms ease-in-out;
  margin: 0 auto;
}
.grid img:hover {
  transform: scale(1.4);
}
.contactInfo {
  font-size: 12px;
  text-align: center;
}
.pageEnd {
  padding-bottom: 30px;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.gridTwo {
  grid-template-columns: repeat(2, 2fr);
  padding: 0 120px;
}
h5 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 40px 0 0 0;
}
.experienceGrid {
  display: grid;
  padding: 10px 20px 10px 10px;
  text-align: center;
  margin: 0;
}
.stAnothonysGrid {
  grid-template-columns: repeat(2, 3fr);
}
.sheCodes-content {
  font-size: 10px;
}
.projectGrid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  text-align: center;
}
.projectGrid img {
  width: 40px;
  object-fit: contain;
  aspect-ratio: 14/10;
  transition: all 200ms ease-in-out;
  margin: 0 auto;
  padding: 0 20px;
}
.projectGrid img:hover {
  transform: scale(1.4);
}
.projectImgs {
  max-width: 300px;
  max-height: 200px;
  border-radius: 6px;
  float: right;
  margin: 0 20px;
  transition: all 200ms ease-in-out;
}
.projectImgs:hover {
  transform: scale(1.1);
}

.jimmonsGrid {
  grid-template-columns: repeat(1, 2fr);
}
.education-content {
  text-align: justify;
  padding: 0 40px;
  margin: 10px;
  font-size: 12px;
}
.grade-results {
  font-size: 10px;
}
.altusGrid {
  grid-template-columns: repeat(3, 2fr);
}
.experience-content {
  text-align: justify;
  padding: 0 40px;
  margin: 10px;
  font-size: 12px;
}
.stadiumGrid {
  grid-template-columns: repeat(2, 2fr);
}
.stadium-paragraph {
  text-align: justify;
  padding: 0 40px 0 60px;
  margin: 10px;
  font-size: 12px;
}
.tamakwaGrid {
  grid-template-columns: repeat(1, 2fr);
}
.meribelGrid {
  grid-template-columns: repeat(1, 2fr);
}
.experience-dates {
  font-size: 12px;
}
.experience-dates {
  font-size: 12px;
  color: rgb(0, 0, 0, 0.6);
}
